*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', 'Verdana', sans-serif;
}

body {
    background-color: #D8BFD8;
}

.title {
    background-color: #9966cc;
    padding: 20px;
}

.recipes-list {
    padding: 20px;
    margin: 0 10px 10px;
}

.recipe {
    margin: 10px;
}